<!DOCTYPE html>
<html ng-app="diseasePredictorApp">
    <head>
        <title>Predictor Test</title>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/mine.css">
        <!--<link rel="stylesheet" href="bower_components/bootstrap-slider/dist/css/bootstrap-slider.css">-->
    </head>
    <body ng-controller="diseasePredictorCtrl">
        <md-toolbar class="md-primary">
            <h2 class="md-toolbar-tools">
            <span>Disease Predictor App</span>
            </h2>
        </md-toolbar>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Please enter the patient's likely symptoms</h3>
            </div>

            <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 well">
                            <div class="content-left">
                                <md-switch ng-model="symptoms.cough" aria-label="Switch 1">
                                Cough
                                </md-switch>
                                <md-switch ng-model="symptoms.runny_nose" aria-label="Switch 2">
                                Runny Nose
                                </md-switch>
                                <md-switch ng-model="symptoms.sore_throat" aria-label="Switch 3">
                                Sore Throat
                                </md-switch>
                                <md-switch ng-model="symptoms.sore_muscles" aria-label="Switch 4">
                                Sore Muscles/Muscle Pain
                                </md-switch>
                                <md-switch ng-model="symptoms.tiredness" aria-label="Switch 5">
                                Tiredness
                                </md-switch>
                                <md-switch ng-model="symptoms.headache" aria-label="Switch 6">
                                Headache
                                </md-switch>
                                <md-switch ng-model="symptoms.chills" aria-label="Switch 7">
                                Chills
                                </md-switch>
                                <md-switch ng-model="symptoms.fever" aria-label="Switch 8">
                                Fever
                                </md-switch>
                            </div>
                        </div>
                        <div class="col-xs-6 well">
                            <div class="content-right">
                                <md-switch ng-model="symptoms.stomach_pain" aria-label="Switch 9">
                                Stomach/Abdominal Pains
                                </md-switch>
                                <md-switch ng-model="symptoms.diarrhoea" aria-label="Switch 10">
                                Diarrhoea
                                </md-switch>
                                <md-switch ng-model="symptoms.vomitting" aria-label="Switch 11">
                                Vomitting
                                </md-switch>
                                <md-switch ng-model="symptoms.dehdration" aria-label="Switch 12">
                                Dehydration
                                </md-switch>
                                <md-switch ng-model="symptoms.nausea" aria-label="Switch 13">
                                Nausea
                                </md-switch>
                                <md-switch ng-model="symptoms.appetite_loss" aria-label="Switch 14">
                                Loss of Appetite
                                </md-switch>
                                <md-switch ng-model="symptoms.sweating" aria-label="Switch 15">
                                Sweating
                                </md-switch>
                                <md-switch ng-model="symptoms.chest_pain" aria-label="Switch 16">
                                Chest Pains
                                </md-switch>
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Severity Input</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 well">
                            <div layout>
                              <div flex="10" layout layout-align="center center">
                                <span class="md-body-1">Headache Severity</span>
                              </div>
                              <md-slider flex class="md-primary" md-discrete ng-model="symptoms.headache" step="1" min="0" max="10" aria-label="rating">
                              </md-slider>
                            </div>
                        </div>
                        <div class="col-xs-4 well">
                            <div layout>
                              <div flex="10" layout layout-align="center center">
                                <span class="md-body-1">Tiredness Level</span>
                              </div>
                              <md-slider flex class="md-primary" md-discrete ng-model="symptoms.tiredness" step="1" min="0" max="10" aria-label="rating">
                              </md-slider>
                            </div>
                        </div>
                        <div class="col-xs-4 well">
                            <div layout>
                              <div flex="10" layout layout-align="center center">
                                <span class="md-body-1">Joint/Muscle Pain Severity</span>
                              </div>
                              <md-slider flex class="md-primary" md-discrete ng-model="symptoms.pain" step="1" min="0" max="10" aria-label="rating">
                              </md-slider>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Predicted Results</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Disease Name</th>
                                <th>Description</th>
                                <th>Disease Type</th>
                                <th>Possible Cause</th>
                                <th>Recommended Treatment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="disease in diseaseList">
                                <td><img ng-src="{{disease.image}}" class="img-thumbnail img-responsive"></td>
                                <td ng-bind="disease.title"></td>
                                <td ng-bind="disease.desc"></td>
                                <td ng-bind="disease.type"></td>
                                <td ng-bind="disease.cause"></td>
                                <td ng-bind="disease.meds"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="js/disease-predictor.js"></script>
        <!--<script src="bower_components/bootstrap-slider/dist/bootstrap-slider.js"></script>-->
    </body>
</html>
