<!DOCTYPE html>
<html>
  <head>
	<title>Disease Predictor</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/ionic/css/ionic.min.css">
	<!--<link rel="stylesheet" href="bower_components/bootstrap-slider/dist/css/bootstrap-slider.css">-->
	<link rel="stylesheet" href="stylesheets/mine.css">
  </head>
  <body ng-app="diseasePredictorApp" ng-controller="diseasePredictorCtrl">
  <ion-side-menus>
	<ion-side-menu-content>
	  <ion-header-bar class="bar-dark">
	  <h1 class="title">Disease Predictor</h1>
	  </ion-header-bar>
	  <ion-content>
	  <ul>
		<li class="item item-divider">Please choose the patient's likely symptoms</li>
	  </ul>

	<div class="container-fluid">
	  <div class="row">
		<div class="col-xs-6" style="background-color:lavender;">
		  <div class="content-left">
		  <ul class="list">
			<li class="item item-toggle">
			   Cough
			   <label class="toggle toggle-assertive">
				 <input ng-model="symptoms.cough" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Runny Nose
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.runny_nose" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Sore Throat
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.sore_throat" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Sore muscles/ Muscular Pain
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.sore_muscles" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Tiredness/ Fatigue
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.tiredness" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Headache
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.headache" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Chills
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.chills" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Fever
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.fever" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="col-xs-6" style="background-color:MistyRose;">
		  <div class="content-right">
		  <ul class="list">
			<li class="item item-toggle">   
			   Stomach/Abdominal pain
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.stomach_pain" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Diarrhoea
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.diarrhoea" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Vomitting
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.vomitting" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Dehydration
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.dehydration" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Nausea
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.nausea" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Loss of appetite
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.appetite_loss" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Sweating
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.sweating" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			  <li class="item item-toggle">   
			   Chest Pains
			   <label class="toggle toggle-energized">
				 <input ng-model="symptoms.chest_pain" type="checkbox">
				 <div class="track">
				 <div class="handle"></div>
				 </div>
			   </label>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>

	<div class="container-fluid">
	  <div class="row">
		<div class="col-xs-4" style="background-color:lavender;">
		<ul class="list">
		  <li class="item">
			<div class="item-content">Headache Severity</div>
			<div class="range range-balanced">
			  <i class="icon ion-minus"></i>
			  <input ng-model="symptoms.headache" type="range" name="headache" min="0" max="10" value="0">
			  <i class="icon ion-plus"></i>
			</div>
			</li>
		  </ul>
		  </div>
		<div class="col-xs-4" style="background-color:lavender;">
		<ul class="list">
			<li class="item">
			<div class="item-content">Joint/Muscle pain severity</div>
			<div class="range range-balanced">
			  <i class="icon ion-minus"></i>
			  <input ng-model="symptoms.pain" type="range" name="pain" min="0" max="10" value="0">
			  <i class="icon ion-plus"></i>
			</div>
			</li>
		  </ul>
		  </div>
		<div class="col-xs-4" style="background-color:lavender;">
		<ul class="list">
			<li class="item">
			<div class="item-content">Tiredness Level</div>
			<div class="range range-positive">
			  <i class="icon ion-minus"></i>
			  <input ng-model="symptoms.tiredness" type="range" name="tiredness" min="0" max="10" value="0">
			  <i class="icon ion-plus"></i>
			</div>
			</li>
		  </ul>
		  </div>
		</div>
	</div>

	<div class="container-fluid">
	  <div class="predictor">
		<ul class="med">
		  <li class="item item-divider">Predicted Disease</li>
			<li class="item item-thumbnail-left" ng-repeat="disease in diseaseList">
			<img ng-src="{{disease.image}}">
			<span> <b> <u ng-bind="disease.title"></u> </b> </span>
			<p ng-bind="disease.desc"></p>
			<span> Recommended Medicine: <p ng-bind="disease.meds"></p> </span>
			</li>
		  </ul>
		</div>
	</div>

	</ion-content>

	</ion-side-menu-content>

  </ion-side-menus>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/ionic/js/ionic.bundle.min.js"></script>
  <!--<script src="bower_components/bootstrap-slider/dist/bootstrap-slider.js"></script>-->
  <script src="js/predictor(ionic).js"></script>
  </body>
</html>
