<!DOCTYPE html>
<html>
    <head>
      <meta name="description" content="Using Angular's $parse for dynamic product suggestions" />
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" name="viewport">
      <link href="components/ionic/css/ionic.min.css" rel="stylesheet">
      <title>Using Angular's $parse for dynamic product suggestions</title>
    </head>
    <body ng-app="autoSuggestApp" ng-controller="AutoSuggestCtrl">
      <ion-side-menus>
        <ion-side-menu-content>
          <ion-header-bar class="bar-dark">
            <h1 class="title">Auto food suggestion</h1>
          </ion-header-bar>
          <ion-content>
            
            <ul class="list">
              <li class="item item-divider">Enter your preferred meal</li>
               <li class="item item-toggle">
                 With meat please!
                 <label class="toggle toggle-assertive">
                   <input ng-model="preferences.meat" type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>
              <li class="item item-toggle">   
                 I love exotic stuff...
                 <label class="toggle toggle-energized">
                   <input ng-model="preferences.exotic" type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>
              <li class="item">
                <div class="item-content">Healthiness factor</div>
                <div class="range range-balanced">
                  <i class="icon ion-minus"></i>
                  <input ng-model="preferences.health" type="range" name="volume" min="-100" max="100" value="0">
                  <i class="icon ion-plus"></i>
                </div>
              </li>
              <li class="item">
                <div class="item-content">Starvation barometer</div>
                <div class="range range-positive">
                  <i class="icon ion-minus"></i>
                  <input ng-model="preferences.starve" type="range" name="volume" min="-100" max="100" value="0">
                  <i class="icon ion-plus"></i>
                </div>
              </li>
              
              <li class="item item-divider">Suggested food</li>
              <li class="item item-thumbnail-left" ng-repeat="food in foodList">
                <img ng-src="{{food.image}}">
                <h2>{{food.title}}</h2>
                <p>{{food.desc}}</p>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu-content>
      </ion-side-menus>

    <script src="components/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/predictor.js"></script>
    </body>
</html>
